* {
  font-family: 'Comfortaa', cursive;
}

body {
  width: 100vw !important;
  height: 100vh !important;
}

#root,
.App,
.main,
.margin {
  height: 100%;
}

.loading {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  text-align: center;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1502209877429-d7c6df9eb3f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cd44aaf92575bed6437a6f67b6f0eec2&auto=format&fit=crop&w=1047&q=80');
}

.finish {
  width: 100%;
  height: 100%;
  background-size: cover;
  text-align: center;
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.half-height {
  height: 50%;
}

.youtubebut {
  font-size: 20PX !important;
  border-radius: 25% !important;
  width: 200px;
  height: 100px !important;
  margin: 20% !important;
}

.margin {
  height: 100%;
}

.card-group {
  background-image: url('https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0ae83373fe7bf60aaf6ceb8daa337fc9&auto=format&fit=crop&w=1957&q=80');
  background-size: contain;
}

.card-group .card {
  margin: 1% !important;
}

.card {
  margin: 150px;
  background-color: transparent !important;
}

.card-body {
  border: none !important;
  background-color: white;
}

.card1 {
  background-image: url('https://reactjs.org/logo-og.png');
  background-size: contain;
}

.card2 {
  background-image: url('https://i.imgur.com/vO1gl1k.png');
  background-size: contain;
}

.card3 {
  background-image: url('https://cdn-images-1.medium.com/max/2000/1*OF0xEMkWBv-69zvmNs6RDQ.gif');
  background-size: contain;
}

.card4 {
  background-image: url('https://zdnet3.cbsistatic.com/hub/i/r/2014/08/08/99b06b50-1edb-11e4-8c7f-00505685119a/thumbnail/770x578/9eaf3bd911dbc4da646078bc73826752/aws-expands-australian-presence-with-new-melbourne-location.gif');
  background-size: contain;
}

.media {
  margin: 10%;
}

.media-body {
  width: 100%;
  height: 100%;
  margin: 3%;
}

img.media {
  text-align: center !important;
}

a {
  color: aliceblue !important;
  text-decoration-line: none !important;
}

button {
  text-align: center;
}

.finish .screen {
  width: 100%;
  height: 100%;
}

.screen {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen img {
  width: 60%;
}

.youtube-video {
  position: absolute;
}
.youtubeend {
margin-top: 2%;
}
.wrapper {
  margin-top: 5% !important;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  width: 100%;
}

.wrapper iframe {
  position: absolute;
  top: 6.5%;
  left: 22.5%;
  width: 55%;
  height: 55%;
}

